<nav >
  <div class=" teal  nav-wrapper">
    <a href="#" class="heading brand-logo">Categories</a>
    
  </div>
</nav>
<div class="align container-fluid">
  
  <div class="row">
      <div class="col m3">
  <ul class="collapsible border">
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">home</i><a routerLink="/home">Home</a></div>
        <!-- <div class="collapsible-body"><span>Home</span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">apps</i><a routerLink="/category">Categories</a></div>
        <!-- <div class="collapsible-body"><span><a routerLink="/category">Categories</a></span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
        <!-- <div class="collapsible-body"><span>Favorites</span></div> -->
      </li>
      <li class="margin">
          <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart</div>
          <!-- <div class="collapsible-body"><span>Cart</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/appetizers">Appetizers</a></div>
          <!-- <div class="collapsible-body"><span>Appetizers</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/sides">Sides</a></div>
          <!-- <div class="collapsible-body"><span>Sides</span></div> -->
        </li>
        <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/desserts">Desserts</a></div>
            <!-- <div class="collapsible-body"><span>Desserts</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/maincourse">Main Course</a></div>
            <!-- <div class="collapsible-body"><span>Main Course</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/salads">Salads</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">event</i><a routerLink="/events">Events</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">image</i>Albums</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">import_contacts</i>Posts</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
    </ul>
   
  </div>
  </div>
</div>

<div>
  <img routerLink="/appetizers" class="image" src="../../../assets/cat-a-thumb.png" >
  <h6 class="head">Appetizers</h6>
  <p class="para">Donec feugiat justo sapien. Etiam tempus lacus ut sem laoreet venenatis. Suspendisse 
    velit ispum, accumsan eu imperdiet sit amet, auctor non...</p>
<div class="box"></div>
<div>
    <img routerLink="/sides"  class="image" src="../../../assets/cat-b-thumb.png" >
    <h6 class="head">Sides</h6>
    <p class="para">Nam laoreet libero quam. Sed erat dolor, posuere id, bibendum ut sapien. Ut semper mollis suscipit.</p>
</div>

<div class="box-1"></div>
<div>
<img routerLink="/desserts"  class="image" src="../../../assets/cat-c-thumb.png" >
<h6 class="head">Desserts</h6>
<p class="para">Nullam eget scelerisque neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et condimentum lectus.</p>
</div>
<div class="box-2"></div>
<div>
  <img routerLink="/maincourse"  class="image" src="../../../assets/cat-d-thumb.png" >
  <h6 class="head">Main Course</h6>
  <p class="para">Curabitur sodales hendrerit lorem ac congue. Nulla laoreet consequat augue, ut pretium mauris cursus facilisis. Donec sodales laoreet erat s...</p>
  </div>

  <div class="box-2"></div>

  <div>
    <img routerLink="/salads"  class="image" src="../../../assets/cat-e-thumb.png" >
    <h6 class="head">Salads</h6>
    <p class="para">Duis in est vel mauris vestibulum dignissm. Quisque justo tellus, auctor et orci vel, hendrerit congue orci. Integer a iaculis ex.</p>
    </div>
 




