<nav>
  <div class=" teal nav-1 nav-wrapper">
    <a href="#" class="heading brand-logo">Restaurent App</a>
    
  </div>
</nav>
<div class="align container-fluid">
  
    <div class="row">
        <div class="col m3">
    <ul class="collapsible border">
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">home</i><a routerLink="/home">Home</a></div>
          <!-- <div class="collapsible-body"><span>Home</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">apps</i><a routerLink="/category">Categories</a></div>
          <!-- <div class="collapsible-body"><span><a routerLink="/category">Categories</a></span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
          <!-- <div class="collapsible-body"><span>Favorites</span></div> -->
        </li>
        <li class="margin">
            <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart</div>
            <!-- <div class="collapsible-body"><span>Cart</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/appetizers">Appetizers</a></div>
            <!-- <div class="collapsible-body"><span>Appetizers</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/sides">Sides</a></div>
            <!-- <div class="collapsible-body"><span>Sides</span></div> -->
          </li>
          <li class="margin">
              <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/desserts">Desserts</a></div>
              <!-- <div class="collapsible-body"><span>Desserts</span></div> -->
            </li>
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/maincourse">Main Course</a></div>
              <!-- <div class="collapsible-body"><span>Main Course</span></div> -->
            </li>
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/salads">Salads</a></div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>

            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">event</i><a routerLink="/events">Events</a></div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>

            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">image</i>Albums</div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>

            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">import_contacts</i>Posts</div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>
      </ul>
     
    </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12 m7">
        <div class="card card-1">
          <div class="card-image">
            <img  src="../../../assets/cat-d-4-1.png">
            <span class="color card-title" style="color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Crawfish</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="alignment">
    <div class="row">
      <div class="col s12 m6">
        <div class="card card-2">
          <div class="card-image">
            <img routerLink="/maincourse" src="../../../assets/cat-d-thumb.png" />
          </div>
          <div class="card-content white-text">
            <span class="card-title" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Main Course</span>
          </div>
          <div class="card-action">
          
          </div>
        </div>
      </div>
    </div>

    

    <div class="row">
        <div class="col s12 m6">
          <div class="card card-2">
            <div class="card-image">
              <img routerLink="/appetizers" src="../../../assets/cat-a-thumb.png" />
            </div>
            <div class="card-content white-text">
              <span class="card-title" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Appetizers</span>
            </div>
            <div class="card-action">
            
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col s12 m6">
            <div class="card card-5">
              <div class="card-image">
                <img routerLink="/salads" src="../../../assets/cat-e-thumb.png" />
              </div>
              <div class="card-content white-text">
                <span class="card-title" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Salads</span>
              </div>
              <div class="card-action">
              
              </div>
            </div>
          </div>
        </div>

    <div class="row">
        <div class="col s12 m6">
          <div class="card card-3">
            <div class="card-image">
              <img routerLink="/sides" src="../../../assets/cat-b-thumb.png" />
            </div>
            <div class="card-content white-text">
              <span class="card-title" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Sides</span>
            </div>
            <div class="card-action">
            
            </div>
          </div>
        </div>
      </div>

      

      <div class="row">
          <div class="col s12 m6">
            <div class="card card-4">
              <div class="card-image">
                <img routerLink="/desserts" src="../../../assets/cat-c-thumb.png" />
              </div>
              <div class="card-content white-text">
                <span class="card-title" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Desserts</span>
              </div>
              <div class="card-action">
              
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card card-6">
              <div class="card-image">
                <img src="../../../assets/237e5d25c969bf127b61f2d4ee4b0e8b.jpg" />
              </div>
              <div class="card-content white-text">
                <span class="card-title" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Shrimp Rolls</span>
              </div>
              <div class="card-action">
              
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col s12 m6">
            <div class="card-7 card">
              <div class="card-content white-text">
             

              
              <div class="card-action">
              
              </div>
            </div>
          </div>
        </div>
        
  
      </div>


      