<nav >
  <div class=" teal  nav-wrapper">
    <a href="#" class="heading brand-logo">Albums</a>
    
  </div>
</nav>
<div class="align container-fluid">
  
  <div class="row">
      <div class="col m3">
  <ul class="collapsible border">
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">home</i><a routerLink="/home">Home</a></div>
        <!-- <div class="collapsible-body"><span>Home</span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">apps</i><a routerLink="/category">Categories</a></div>
        <!-- <div class="collapsible-body"><span><a routerLink="/category">Categories</a></span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
        <!-- <div class="collapsible-body"><span>Favorites</span></div> -->
      </li>
      <li class="margin">
          <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart</div>
          <!-- <div class="collapsible-body"><span>Cart</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/appetizers">Appetizers</a></div>
          <!-- <div class="collapsible-body"><span>Appetizers</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/sides">Sides</a></div>
          <!-- <div class="collapsible-body"><span>Sides</span></div> -->
        </li>
        <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/desserts">Desserts</a></div>
            <!-- <div class="collapsible-body"><span>Desserts</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/maincourse">Main Course</a></div>
            <!-- <div class="collapsible-body"><span>Main Course</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/salads">Salads</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">event</i><a routerLink="/events">Events</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">image</i>Albums</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">import_contacts</i>Posts</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
    </ul>
   
  </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m7">

    <div class="card card0">
 
      <div class="card-image">
         
        <img src="../../../assets/Image/ablum/Salads.png">
        <span  class="card-title">Salads</span>
      </div>
 
    </div>
  </div>
</div>

<div class="row">
    <div class="col s12 m7">
      <div class="card card1">
        <div class="card-image">
  
          <img src="../../../assets/Image/ablum/Sides.png">
          <span  class="card-title">Sides</span>
        </div>
       
      </div>
    </div>
  </div>

  
  <div class="row">
      <div class="col s12 m7">
        <div class="card card2">
          <div class="card-image">
    
            <img src="../../../assets/Image/ablum/Res.png">
            <span class="card-title">Cover Photos</span>
          </div>
         
        </div>
      </div>
    </div>

    
    <div class="row">
        <div class="col s12 m7">
          <div class="card card3">
            <div class="card-image">
      
              <img src="../../../assets/Image/ablum/main course.png">
              <span  class="card-title">Main Course</span>
            </div>
           
          </div>
        </div>
      </div>

      
      <div class="row">
          <div class="col s12 m7">
            <div class="card card4">
              <div class="card-image">
        
                <img src="../../../assets/Image/ablum/res1.png">
                <span class="card-title">Timeline Photos</span>
              </div>
             
            </div>
          </div>
        </div>

        
        <div class="row">
            <div class="col s12 m7">
              <div class="card card5">
                <div class="card-image">
          
                  <img src="../../../assets/Image/ablum/appetizers.png">
                  <span  class="card-title">Appetizers</span>
                </div>
               
              </div>
            </div>
          </div>

          
          <div class="row">
              <div class="col s12 m7">
                <div class="card card6">
                  <div class="card-image">
            
                    <img src="../../../assets/Image/ablum/desserts.png">
                    <span  class="card-title">Desserts</span>
                  </div>
                 
                </div>
              </div>
            </div>
            


 
 




