
<!-- <app-home></app-home> -->
<!-- <app-appetizers></app-appetizers> -->
<!-- <app-categories></app-categories> -->
<!-- <app-sides></app-sides> -->
<!-- <app-desserts></app-desserts> -->
<!-- <app-main-course></app-main-course> -->
<!-- <app-salads></app-salads> -->
<router-outlet></router-outlet>
<!-- <app-events></app-events> -->
<!-- <app-bloody></app-bloody> -->
<!-- <app-macro></app-macro> -->
<!-- <app-summer></app-summer> -->
<!-- <app-cocktail></app-cocktail> -->
<!-- <app-album></app-album> -->