<nav>
  <div class=" teal  nav-wrapper">
    <a href="#" class="heading brand-logo">Sides</a>
    
  </div>
</nav>
<div class="align container-fluid">
  
  <div class="row">
      <div class="col m3">
  <ul class="collapsible border">
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">home</i><a routerLink="/home">Home</a></div>
        <!-- <div class="collapsible-body"><span>Home</span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">apps</i><a routerLink="/category">Categories</a></div>
        <!-- <div class="collapsible-body"><span><a routerLink="/category">Categories</a></span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
        <!-- <div class="collapsible-body"><span>Favorites</span></div> -->
      </li>
      <li class="margin">
          <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart</div>
          <!-- <div class="collapsible-body"><span>Cart</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/appetizers">Appetizers</a></div>
          <!-- <div class="collapsible-body"><span>Appetizers</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/sides">Sides</a></div>
          <!-- <div class="collapsible-body"><span>Sides</span></div> -->
        </li>
        <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/desserts">Desserts</a></div>
            <!-- <div class="collapsible-body"><span>Desserts</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/maincourse">Main Course</a></div>
            <!-- <div class="collapsible-body"><span>Main Course</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/salads">Salads</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">event</i><a routerLink="/events">Events</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">image</i>Albums</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">import_contacts</i>Posts</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
    </ul>
   
  </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card card-8">
      <div class="card-image">
        <img src="../../../assets/Image/Sides/cat-b-1-thumb.png">
        <span class="card-title" style="color: black;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Dressed Feta Cheese</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#" style="color: black;">7,00 &euro;</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card card-9">
      <div class="card-image">
        <img src="../../../assets/Image/Sides/cat-b-2-thumb.png">
        <span class="card-title" style="color: black;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Chicken and Onion Mix</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#" style="color: black;">5,00 &euro;</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card card-11">
      <div class="card-image">
        <img src="../../../assets/Image/Sides/cat-b-3-thumb.png">
        <span class="card-title" style="color: black;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Baked Mushrooms</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#" style="color: black;">10,00 &euro;</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card card-10">
      <div class="card-image">
        <img src="../../../assets/Image/Sides/cat-b-4-thumb.png">
        <span class="card-title" style="color: black;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Feta Cheese Dip</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#" style="color: black;">6,00  &euro;</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div class="card card-11">
      <div class="card-image">
        <img src="../../../assets/Image/Sides/cat-b-5-thumb.png">
        <span class="card-title" style="color: black;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Vegetable Mix</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#" style="color: black;">14,00 &euro;</a>
      </div>
    </div>
  </div>
</div>





