<nav >
  <div class=" teal  nav-wrapper">
    <a href="#" class="heading brand-logo">Macro Caprai Winemaker Dinner</a>
    
  </div>
</nav>
<div class="align container-fluid">
  
  <div class="row">
      <div class="col m3">
  <ul class="collapsible border">
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">home</i><a routerLink="/home">Home</a></div>
        <!-- <div class="collapsible-body"><span>Home</span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">apps</i><a routerLink="/category">Categories</a></div>
        <!-- <div class="collapsible-body"><span><a routerLink="/category">Categories</a></span></div> -->
      </li>
      <li class="margin">
        <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
        <!-- <div class="collapsible-body"><span>Favorites</span></div> -->
      </li>
      <li class="margin">
          <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart</div>
          <!-- <div class="collapsible-body"><span>Cart</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/appetizers">Appetizers</a></div>
          <!-- <div class="collapsible-body"><span>Appetizers</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/sides">Sides</a></div>
          <!-- <div class="collapsible-body"><span>Sides</span></div> -->
        </li>
        <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/desserts">Desserts</a></div>
            <!-- <div class="collapsible-body"><span>Desserts</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/maincourse">Main Course</a></div>
            <!-- <div class="collapsible-body"><span>Main Course</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/salads">Salads</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">event</i><a routerLink="/events">Events</a></div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">image</i>Albums</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>

          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">import_contacts</i>Posts</div>
            <!-- <div class="collapsible-body"><span>Salads</span></div> -->
          </li>
    </ul>
   
  </div>
  </div>
</div>

<h5 class="head-1">Macro Caprai Winemaker Dinner</h5>
<p class="paragraph-1">6/3/17, 4:00 PM - 8:00 PM</p>
<p class="paragraph-1">Edesia Restaurant</p>
<div class="row">
  <div class="col s12 m7">
    <div class="card card-5">
      <div class="card-image">
        <img src="../../../assets/Image/Pages/18278620_1819233771728745_1146805568072305092_o.jpg">
      </div>
      <div class="card-content">
        <p> 
            Enjoy five courses of Chef Gabe Thompson's Cuisine paired with five Arnaldo Caprai wines. Marco Caprai and Filippo Bartolotta will be in attendance to walk you through each wine and explain the philosophy behind the grapes.
        </p>
      </div>
    
    </div>
  </div>
</div>

<p class="paragraph-1"><strong>Edesia Restaurant</strong></p>
<p class="paragraph-1">47 E Houston St</p>
<p class="paragraph-1">New York, 10012, United States</p>
<a  class="waves-effect waves-light btn">GET DIRECTIONS</a>
<a  class="waves-effect waves-light btn-1"></a>




 
 




