<nav >
    <div class=" teal  nav-wrapper">
      <a href="#" class="heading brand-logo">Events</a>
      
    </div>
  </nav>
  <div class="align container-fluid">
    
    <div class="row">
        <div class="col m3">
    <ul class="collapsible border">
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">home</i><a routerLink="/home">Home</a></div>
          <!-- <div class="collapsible-body"><span>Home</span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">apps</i><a routerLink="/category">Categories</a></div>
          <!-- <div class="collapsible-body"><span><a routerLink="/category">Categories</a></span></div> -->
        </li>
        <li class="margin">
          <div class="collapsible-header"><i class="material-icons">star</i>Favorites</div>
          <!-- <div class="collapsible-body"><span>Favorites</span></div> -->
        </li>
        <li class="margin">
            <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart</div>
            <!-- <div class="collapsible-body"><span>Cart</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/appetizers">Appetizers</a></div>
            <!-- <div class="collapsible-body"><span>Appetizers</span></div> -->
          </li>
          <li class="margin">
            <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/sides">Sides</a></div>
            <!-- <div class="collapsible-body"><span>Sides</span></div> -->
          </li>
          <li class="margin">
              <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/desserts">Desserts</a></div>
              <!-- <div class="collapsible-body"><span>Desserts</span></div> -->
            </li>
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/maincourse">Main Course</a></div>
              <!-- <div class="collapsible-body"><span>Main Course</span></div> -->
            </li>
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">folder</i><a routerLink="/salads">Salads</a></div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">event</i><a routerLink="/events">Events</a></div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>
  
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">image</i>Albums</div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>
  
            <li class="margin">
              <div class="collapsible-header"><i class="material-icons">import_contacts</i>Posts</div>
              <!-- <div class="collapsible-body"><span>Salads</span></div> -->
            </li>
      </ul>
     
    </div>
    </div>
  </div>
  
  <div>
    <img routerLink="/bloody" class="image" src="../../../assets/Image/events/Bloody Mary.jpg" >
    <h6 class="head">Eat, Drink, Bloody Mary</h6>
    <p class="para">6/4/17, 4:00 PM - 7:00 PM</p>
    <p class="para">Edesia Restaurant</p>
    <p class="para-1">Join us for the 2nd annual Eat, Drink & Bloody Mary Contest. There will be Bloody Mary
        creations from B&B Winepub, Batch22, Booker and Dax, The Brookyln Star, Colicchio & Sons, Edesia, and L'Apicio.</p>
  <div class="box"></div>
  <div>
    <img routerLink="/macro" class="image" src="../../../assets/Image/events/Wine.jpg" >
    <h6 class="head">Marco Caprai Winemaker Dinner</h6>
    <p class="para">6/3/17, 4:00 PM - 8:00 PM</p>
    <p class="para">Edesia Restaurant</p>
    <p class="para-1">Enjoy five course of Chef Gabe Thompson's Cuisine paired with five Arnaldo Caprai wines. Marco Caprai and Filippo Bartolotta will be in attendance to walk you through each wine and explain the philosophy behind the grapes.</p>
  </div>
  
  <div class="box-1"></div>
  <div>
    <img routerLink="/summer" class="image" src="../../../assets/Image/events/Edesia.jpg" >
    <h6 class="head">Edesia Summer Opening</h6>
    <p class="para">5/26/17, 4:00 PM - 10:00 PM</p>
    <p class="para">Edesia Restaurant</p>
    <p class="para-1">Edesia Restaurant invites you to join the opening party with new summer menu, a variety of over 55 different wines and a night near the pool! We are looking forward to seeing you and welcome summer together!</p>
  </div>
  <div class="box-2"></div>
  <div>
    <img routerLink="/cocktail" class="image" src="../../../assets/Image/events/Cocktail.jpg" >
    <h6 class="head">Cocktail Bar Opening</h6>
    <p class="para">5/26/17, 5:00 PM - 11:00 PM</p>
    <p class="para">Edesia Restaurant</p>
    <p class="para-1">Our new Cocktail Bar greets you welcome and guides you through a wide selection of classic and modern cocktails and different kinds of Scotch whiskey.
    </p>
    </div>
  
  
  
   
   
  
  
  
  
  